/* CSS declarations go here */
body { 
    background-color: #99cccc;
}

/* navbar styling */
.navbar-star {

}

.navbar-star a {
    color: #fff;
}

.active {
    background-color: rgba(61, 57, 57, 0.5);
}

/* Background Styling */

.background-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
    top: 100%;
}
.blue {
    background-color: blue;    
    top: 200%;
}
.purple {
    background-color: purple;    
    top: 300%;
}